@import './fonts.css';
@import "swiper/css";
@import "swiper/css/navigation";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom components */
@layer components {
  .split-border {
    @apply relative h-[1px] my-10 text-center;
  }
  .split-border::before,
  .split-border::after {
    @apply content-[""] absolute top-0 h-full w-1/4 border-t-[4px] border-black;
  }
  .split-border::before {
    @apply left-0;
  }
  .split-border::after {
    @apply right-0;
  }
  
  .social-wrapper {
    @apply flex flex-col items-center gap-[10px] my-[30px];
  }
  .social-title {
    @apply text-2xl font-semibold text-center text-black;
  }
  .social-button {
    @apply inline-block w-[200px] h-[100px];
  }
}
/* ==== Global Fix for Mobile Overflow ==== */
html, body, #root {
  overflow-x: visible !important;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

.date-input {
  color: transparent;
  caret-color: transparent;
}
.date-input:focus {
  color: transparent;
}

/* Hilangkan icon kalender di semua browser */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-clear {
  display: none;
}

input[type="date"]::-ms-clear {
  display: none;
}

